.gameroom {
    height: 100vh;
    background-color: darkgreen;
}
.playing-area{
    height: 79vh;
    background-color:aqua;
}
.header{
    height: 5vh;
    background-color:darkblue;
}
.card-list{ 
    height: 21vh;
    background-color: yellow;  
}
.card-list-container {
    display: flex;    
    justify-content: center;   
}
.card-container {
    flex: 1 0 0;
    overflow-x: hidden;
    background-color: red;
}
.card-container:last-child {
    flex: 0 0 auto;
}