<div class="gameroom">
  <!-- Played Cards Row -->
  <div class="row no-gutters">
    <div class="col-12">

      <!-- Top Row -->
      <div class="row no-gutters justify-content-center">
        <div class="col-4">
          <div class="row no-gutters">
            <div class="col" align="center">
              <div class="badge badge-pill badge-primary mx-auto">North Player</div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col" align="center">
              <app-card [card]="northPlayerCard"></app-card>
            </div>
          </div>
        </div>
      </div>
      <!-- Middle Row -->
      <div class="row no-gutters justify-content-center">
        <div class="col-4">
          <div class="row no-gutters">
            <div class="col" align="center">
              <div class="badge badge-pill badge-primary mx-auto">West Player</div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col" align="center">
              <app-card [card]="westPlayerCard"></app-card>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row no-gutters">
            <div class="col" align="center">
              <div class="badge badge-pill badge-info">South Players Turn</div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row no-gutters">
            <div class="col" align="center">
              <div class="badge badge-pill badge-primary mx-auto">East Player</div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col" align="center">
              <app-card [card]="eastPlayerCard"></app-card>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom Row -->
      <div class="row no-gutters justify-content-center">
        <div class="col-4">
          <div class="row no-gutters">
            <div class="col" align="center">
              <div class="badge badge-pill badge-primary mx-auto">South Player</div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col" align="center">
              <app-card [card]="southPlayerCard"></app-card>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="card-list-container">
    <div class="card-container" *ngFor="let card of listPlayerCards">
      <app-card [card]="card" (clickedCardEmitter)="clickedCard($event)"></app-card>
    </div>
  </div>

</div>