.gameroom {
    background-color: darkgreen;
}
.card-list-container {
    display: flex;    
    justify-content: center;   
}
.card-container {
    flex: 1 0 0;
    overflow-x: hidden;
}
.card-container:last-child {
    flex: 0 0 auto;
}